/************************************************************/
/** INDEX                                                   */
/** 01- Variables                                           */
/** 02- Global                                              */
/** 03- Header                                              */
/** 04- Navigation                                          */
/** 05- Main content                                        */
/** 06- Liste des parcelles                                 */
/** 07- Bloc de mise à jour                                 */
/** 08- Détail d'une parcelle                               */
/** 09- Bloc des conseils                                   */
/** 10- Tableau des risques                                 */
/** 11- Légende du tableau des risques                      */
/** 12- Pied de page                                        */
/************************************************************/

@import url(./reset.css);

/************************************************************/
/** 01- Variables                                           */
/************************************************************/
:root {
  /* --bg-dark-color: #f1f1f1; */
  --bg-darken-color: #aaa;
  --bg-dark-color: #ddd;
  --bg-light-color: #fff;

  --blue-color: #3864b3;
  --green-color: #94cc3d;
  --red-color: #be202e;
  --orange-color: orange;

  --text-color: #000;
  --text-light-color: #8b8b8b;

  --content-size: clamp(200px, 100vw, 1024px);
}

/************************************************************/
/** 02- Global                                              */
/************************************************************/
* {
  color: var(--text-color);
}

body {
  background-color: var(--bg-dark-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: clamp(1rem, 4vw, 2rem);
}

h2 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

/** Surcharge des icones material symbols **/ 
.material-symbols-rounded {
  font-size: 30px;
}

.material-symbols-rounded.small {
  font-size: 24px;
}

/** Couleur de texte **/
.blue {
  color: var(--blue-color);
}

.red {
  color: var(--red-color);
}

.green {
  color: var(--green-color);
}

.light {
  color: var(--text-light-color);
}

/** Boutons et liens boutons **/
button, a.button {
  display: inline-block;
  background-color: transparent;
  border-style: none;
  outline: none;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
}

a.button {
  text-decoration: none;
}

button.icon, a.button.icon {
  line-height: 1.6;
  font-weight: 600;
  padding: 0;
  font-size: 1.2rem;
}

/** Mise en forme des fieldset **/
fieldset {
  /* border: none; */
  border-color: var(--bg-dark-color);
  border-radius: 5px;
  display: flex;
  gap: 10px;

  /* margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0; */
}

fieldset legend {
  /* color: var(--text-light-color); */
  margin: 0;
  padding: 0;
  display: inline-block;
}

/** Radio button sous forme de boutons **/
input[type='radio'] {
  display: none;
}

input[type='radio']+label {
  padding: 5px;
  background-color: var(--bg-dark-color);
  font-size: .9rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  /* color: white; */
  /* border: 1px dashed blue; */
}

input[type='radio']:checked+label {
  /* border: 1px solid orange; */
  background-color: var(--blue-color);
  color: white;
}

/** Elements clickables.**/ 
/** On récupère le premier lien enfant de l'élément pour rendre ce dernier cliquable **/
.clickable  {
  position: relative;
}

.clickable a:first-child::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #000;
  opacity: .3; */
  top:0;
  left: 0;
}

/** Texte en petit **/
.lower {
  font-size: .9em;
}

/** Eléments à masquer sur mobile **/
.hidden-small {
  display: none !important;
}

@media(min-width: 768px) {
  .hidden-small {
    display: inherit !important;
  }
}

/************************************************************/
/** 03- Header                                              */
/************************************************************/
header {
  width: var(--content-size);
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-light-color);
  padding: 10px;
}

header img {
  width: clamp(80px, 80px + 10vw ,200px);
}

@media(min-width: 768px) {
  header {
    height: 100px;
  }
}

@media(min-width: 992px){
  
}

/************************************************************/
/** 04- Navigation                                          */
/************************************************************/
.nav {
  width: var(--content-size);
  /* align-self: flex-start; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--bg-dark-color);
  padding: 0 5px;
  z-index: 99;
}

.user {
  display: flex;
  flex: 1;
  line-height: 2;
  justify-content: flex-end;
}

.user .label {
  display: none;
  padding-right: 20px;
}

@media(min-width: 768px) {
  .user .label {
    display: inline-block;
  }
}


.subnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.subnav a.button {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}

/************************************************************/
/** 05- Main content                                        */
/************************************************************/
main {
  width: var(--content-size);
  background-color: var(--bg-light-color);
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  gap: 10px;

}

/* @media(min-width: 768px) {
  main {
    flex-direction: column;
  }
} */

/************************************************************/
/** 06- Liste des parcelles                                 */
/************************************************************/
.group {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

ul.plots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  width: 100%;
}

ul.plots li {
  width: 100%;
  display: flex;
  border: 1px solid var(--bg-dark-color);
  padding: 10px;
}

ul.plots .status, .plot-detail .status {
  display: flex;
  min-width: 60px;
  min-height: 60px;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 5px;
  margin: 10px;
}

.status.green {
  background-color: var(--green-color);
  outline-color: var(--green-color);
}

.status.red {
  background-color: var(--red-color);
  outline-color: var(--red-color);
}

ul.plots .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

ul.plots .detail h3 {
  font-size: 1rem;
  line-height: 1.5;
}

ul.plots .detail h3 a {
  color: var(--blue-color);
  text-decoration: none;
}

ul.plots .detail p {
  
  line-height: 1.2;
}

@media(min-width: 768px) {
  ul.plots li {
    width: calc(50% - 5px);
  }
}


/************************************************************/
/** 07- Bloc de mise à jour                                 */
/************************************************************/
.update button {
  background-color: var(--green-color);
  color: white;
}

.update {
  color: var(--text-light-color);
}

@media(min-width: 768px) {
  .update {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}


/************************************************************/
/** 08- Détail d'une parcelle                               */
/************************************************************/
.plot-detail {
  position: relative;
  width: 100%;
  display: flex;
  /* height: 80px; */
  overflow: hidden;
}

.plot-detail ul.infos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  column-gap: 15px;
  margin-left: 10px;
  flex-grow: 1;
  font-size: .8rem;
}

.plot-detail .status {
  display: none;
}

.plot-detail ul.infos li {
  /* width: calc(50% - 15px); */
  position: relative;
  display: flex;
  border-bottom: 1px solid var(--bg-dark-color);
}

.plot-detail .label {
  color: var(--text-light-color);
}

.plot-detail .value {
  text-align: right;
  flex-grow: 1;
}

@media(min-width: 768px) {
  .plot-detail {
    max-height: 80px;
  }

  .plot-detail ul.infos {
    flex-wrap: wrap;
  }


  .plot-detail .status {
    display: flex;
  }
}

/************************************************************/
/** 09- Bloc des conseils                                   */
/************************************************************/
.advice {
  /* font-weight: bold; */
  margin: 20px 0;
  border: 1px solid var(--bg-dark-color);
  padding: 20px;
  /* display: flex; */
}

.advice.warning, .advice.warning strong {
  color: var(--red-color);
}

.advice.warning::before {
  content: '\E000';
  font-family: 'Material Symbols Rounded';
  font-size: 1.2rem;
}


/************************************************************/
/** 10- Tableau des risques                                 */
/************************************************************/
table {
  width: 100%;
  border-collapse: collapse;
  font-size: .9rem;
}

td {
  text-align: center;
  border: 1px solid var(--bg-dark-color);
}

td.left {
  border-left-width: 2px;
  border-left-color: var(--bg-darken-color);
}

td.right {
  border-right-width: 2px;
  border-right-color: var(--bg-darken-color);
}

td.bottom {
  border-bottom-width: 2px;
  border-bottom-color: var(--bg-darken-color);
}

td.top {
  border-top-width: 2px;
  border-top-color: var(--bg-darken-color);
}

td.forecast {
  background-color: var(--bg-dark-color);
}

.dates td:first-child, .row-legend td  {
  border: none;
}

.periods {
  display: none;
}

.row-legend span, td.legend:not(.head) {
  text-align: left;
  font-style: italic;
  padding: .1em;
}

.row-legend span {
  width: 100%;
  display: block;
  margin-top: .6rem;
  outline: 1px solid var(--bg-dark-color);
  outline-offset: 1px;
}

.legend, .j-4, .j-3, .j-2, .j2 {
  display: none;
}

.j {
  font-weight: 600;
}

td.risk:not(.forecast) {
  background-color: var(--red-color);
  color: white;
}

td.risk.forecast {
  color: var(--red-color);
}

td.vigilance:not(.forecast) {
  background-color: var(--orange-color);
  /* color: white; */
}

td.vigilance.forecast {
  color: var(--orange-color);
  /* text-shadow: black 1px 0 2px; */
  /* -webkit-text-stroke: 1px black; */
}

td.no-risk:not(.forecast) {
  background-color: var(--green-color);
}

td.no-risk.forecast {
  color: var(--text-color);
}

@media(min-width: 768px) {
  .j-2, .j2 {
    display: table-cell;
  }
}

@media(min-width: 992px) {
  .row-legend {
    display: none;
  }

  .legend, .j-4, .j-3 {
    display: table-cell;
  }

  .periods {
    display: table-row;
  }

  .periods td:first-child {
    background-color: transparent;
  }
}

/************************************************************/
/** 11- Légende du tableau des risques                      */
/************************************************************/
.legends {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: .8em;
  position: relative;
}

.legends-group {
  flex: 1;
}

.legends h4 {
  font-size: .8rem;
  font-weight: 600;
}

.legends ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  border: 1px solid var(--bg-dark-color);
  padding: 10px;
}

.legends li {
  display: flex;
  align-items: center;
}

.legends li::before  {
  content:'0-9';
  font-size: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
  background-color: transparent;
  margin: 0 5px;
  border: 1px solid var(--bg-dark-color)
}

li.forecast::before {
  background-color: var(--bg-dark-color);
}

li.risk:not(.forecast)::before {
  background-color: var(--red-color);
  color: white;
}

li.risk.forecast::before {
  color: var(--red-color);
}

li.vigilance:not(.forecast)::before {
  background-color: var(--orange-color);
  content: '';
}

li.vigilance.forecast::before {
  color: var(--orange-color);
}

li.no-risk:not(.forecast)::before {
  background-color: var(--green-color);
}

li.no-risk.forecast::before {
  color: var(--text-color);
}

@media(min-width: 768px) {
  .legends-group {
    flex: none;
  }


  .legends ul {
    flex-direction: row;
  }
}

/************************************************************/
/** 12- Pied de page                                        */
/************************************************************/
footer {
  width: var(--content-size);
  background-color: var(--bg-dark-color);
  border: 20px solid var(--bg-light-color);
  padding: 20px;
  color: var(--text-light-color);
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-light-color);
}

footer a:not(:first-child)::before {
  content: '-';
  display: inline-block;
  padding: 0 5px;
}